accelerate==0.31.0
annotated-types==0.7.0
anyio==4.4.0
bitsandbytes==0.42.0
captum==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
diskcache==5.6.3
distro==1.9.0
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.7
inseq==0.6.0
jaxtyping==0.2.29
Jinja2==3.1.4
kiwisolver==1.4.5
llama_cpp_python==0.2.77
login==0.0.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
openai==1.31.1
packaging==24.0
pillow==10.3.0
protobuf==5.27.0
psutil==5.9.8
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
quanto==0.2.0
regex==2024.5.15
requests==2.32.3
rich==13.7.1
safetensors==0.4.3
scipy==1.13.1
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.1
sympy==1.12.1
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
transformers==4.41.2
typeguard==2.13.3
typing_extensions==4.12.1
urllib3==2.2.1
